@import "tailwindcss";

:root {
  --color-background: black;
  --color-text: white;
  font-size: 90%;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #aaa;
  background: hsl(0, 0%, 13%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 20%);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #1a1a1a black;
}

@layer base {
  p,
  a,
  li {
    @apply text-sm tracking-wide text-neutral-200 uppercase;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-200 uppercase;
  }

  .heading-base {
    @apply text-2xl font-bold tracking-tighter;
  }

  .h1-styles {
    @apply heading-base font-bold leading-none;
    font-size: clamp(2rem, 5vw, 5rem);
  }

  .h2-styles {
    @apply heading-base font-bold leading-none;
    font-size: clamp(1.25rem, 3vw, 2.5rem);
  }

  .h3-styles {
    @apply heading-base leading-relaxed;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  h1 {
    @apply h1-styles;
  }

  h2 {
    @apply h2-styles;
  }

  h3 {
    @apply h3-styles;
  }

  p,
  button {
    @apply tracking-tight;
  }
}

@layer components {
  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .button {
    @apply relative bg-black px-3 py-2 rounded-md z-10 w-full uppercase block text-sm md:text-base text-center hover:tracking-wider hover:px-4 transition-all duration-200;
  }

  .h1 {
    @apply h1-styles;
  }

  .h2 {
    @apply h2-styles;
  }

  .h3 {
    @apply h3-styles;
  }

  .subheading {
    @apply uppercase font-medium text-neutral-400 tracking-wide text-sm;
  }

  .select {
    @apply mt-2 w-full p-2 pr-4 border rounded-xl text-white bg-custom-gray border-custom-gray focus:outline-none;
  }

  .custom-border {
    @apply rounded-xl border border-neutral-800 px-4 py-1 w-fit;
  }
}

.button {
  border-image: linear-gradient(to right, black, #fff, #3d3d3d) padding-box;
}

@layer utilities {
  .drag-none {
    -webkit-user-drag: none;
  }
}
