@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: black;
  --color-text: white;
  font-size: 90%;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #aaa;
  background: hsl(0, 0%, 13%);
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

/* section, footer {
  @apply py-sectionY-m md:py-sectionY;
} */

/* header,
section,
footer {
  @apply px-sectionX-m md:px-sectionX;
} */

html {
  scrollbar-width: thin;
  scrollbar-color: #1a1a1a black;
}

@layer base {
  .heading-base {
    @apply text-2xl font-bold tracking-tighter;
  }

  .h1-styles {
    /* 72px */
    @apply heading-base text-5xl md:text-6xl leading-tight;
  }

  .h2-styles {
    /* 48px */
    @apply heading-base text-4xl font-bold leading-none;
  }

  .h3-styles {
    @apply heading-base leading-relaxed;
  }

  h1 {
    @apply h1-styles;
  }

  h2 {
    @apply h2-styles;
  }

  h3 {
    @apply h3-styles;
  }

  p,
  button {
    @apply tracking-tight;
  }
}

@layer components {
  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* .button {
    @apply uppercase rounded-xl border-[5px] text-center py-2 w-fit px-4 md:px-16 font-bold;
  } */
  .button {
    @apply relative bg-black px-3 py-2 rounded-md hover:bg-neutral-800 transition-all duration-200 z-10 w-full uppercase hover:font-bold block text-center;
  }

  .h1 {
    @apply h1-styles;
  }

  .h2 {
    @apply h2-styles;
  }

  .h3 {
    @apply h3-styles;
  }

  .subheading {
    @apply uppercase font-bold text-neutral-200 tracking-widest text-sm;
  }

  .select {
    @apply mt-2 w-full p-2 pr-4 border rounded-xl text-white bg-custom-gray border-custom-gray focus:outline-none;
  }

  .custom-border {
    @apply rounded-xl border-[.5px] border-neutral-400 px-4 py-1 w-fit;
  }
}

.button {
  border-image: linear-gradient(to right, black, #fff, #3d3d3d) padding-box;
}

@layer utilities {
  .drag-none {
    -webkit-user-drag: none;
  }
}
